body{
    background-color: #8ED973;
    font-family: sans-serif;
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.text_white{
    color: white;
}

#table_of_contents{
    background-color: #C04F15;
    border-radius: 30px;
    width: 150px;
    height: 200px;
    margin-left: 10px;
    border: solid 5px white;
    position: fixed;
}

#mokuji{
    position: relative;
    text-align: center;
}

li.text_white{
    line-height: 3;
}

#ruleinfor{
    margin-left: 70px;
}

.content{
    margin-left: 200px;
    margin-right: 50px;
}

#rule h2{
    padding-left: 80px;
}

.title{
    font-size: 28px;
}