body{
    background-color: #8ED973;
    font-family: sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    background-color: #1C7629;
    color: white;
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 45%;
    padding-right: 450px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 1000;
    border-bottom: rgb(215, 215, 215) solid 3px;
}

.text_white{
    color: white;
}

/*目次*/
#table_of_contents{
    background-color: #C04F15;
    border-radius: 30px;
    width: 220px;
    height: 300px;
    margin-left: 10px;
    border: solid 5px white;
    position: fixed;
}

/*「目次」*/
#mokuji{
    position: relative;
    text-align: center;
}

li.text_white{
    line-height: 3;
}

#ruleinfor{
    /*詳細*/
    margin-left: 70px;
    background-color: white;
    padding: 20px;
}

.content{
    /*文章全体*/
    margin-left: 230px;
    margin-right: 50px;
    margin-top: 120px;
}

h2.title{
    font-size: 28px;
    border-bottom: solid 3px #1C7629;
    position: relative;
    left: 30px;
    padding-left: 80px;
}

/*URL*/
.mokuji{
    color: white;
    text-decoration: none;
}

.mokuji:link,
.mokuji:visited{
    color: white;
    text-decoration: none;
}

.midasi{
    display: inline-block;
    background-color: #E0F8E3;
    width: 800px;
    border-radius: 10px;
    color: #1C7629;
    font-size: 23px;
    padding: 10px;
    padding-left: 20px;
    font-weight: bold;
}

#baseball_team>p{
    padding-left: 50px;
    font-size: 20px;
}

/*リーグ名*/
.league{
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
}

#kyuudan>li{
    list-style: none;
    padding-left: 0px;
}

#sleague{
    background-color: #0F8E2E;
}

#pleague{
    background-color: #3FB1E5;
}

/*セ・リーグandパ・リーグ一覧*/
#kyuudan{
    padding-left: 80px;
}

/*球団一覧*/
.name li{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    right: 40px;
    list-style: none;
}

.team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team li{
    font-size: 18px;
    text-align: center;
}

/*球団名*/
.teamname{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

/*球場名*/
li>p{
    text-align: left;
    position: relative;
    left: 20px;
}

.long{
    display: flex;
    flex-direction: column;
}

.long_back{
    position: relative;
    left: 54px;
}

/*野球場の写真*/
#basic{
    position: relative;
}

#plasephoto{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 600px;
    bottom: 5px;
}

/*ポジションの写真*/
#position{
    position: relative;
}

#positioninfor{
    width: 300px;
    height: 300px;
    padding-top: 100px;
    line-height: 2;
}

#positionphoto{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 400px;
    bottom: 5px;
}